<!DOCTYPE html>
<html lang="hu">
<head>
 
  {% block title %}<title>Nyilvántartó aloldal</title>{% endblock %}
</head>

<body>
{% load static %} 

{% block sidebar %}
 <a href="{% url 'index' %}">Kezdőlap</a>. 
 <a href="{% url 'adatfel' %}">Adatfelvétel</a>. 
{% endblock %}
{% block content %}

<h1>Nyilvántartás a hulladékkal kapcsolatos adatszolgáltatásról</h1>
<table> 
  <tr>
    <td>
    Település neve
    </td>
    <td>
    Megye
    </td>
  </tr>

</table>
{% for Telepules in telep %} 
  <tr>
    <td>
    {{Telepules.nev}}
    </td>
    <td>
    {{Telepules.megye}}
    </td>
  </tr>
{%endfor%}
</table>
{% endblock %}
</body>
</html>
